<app-headerTwo></app-headerTwo>
<app-title-cars-reservation></app-title-cars-reservation>
<app-breadcrumb></app-breadcrumb>

<div class="l-main-content">
    <div class="container">
      <main>
        <section class="b-goods-f">
         <div class="row">
            <div class="col-md-8">
                <div class="ui-subtitle">Choose accessories &amp; Rental Services</div>
                <h1 class="ui-title text-uppercase">ACURA LS15 (2019)</h1>         
                <div class="ui-decor bg-primary"></div>
            </div>
            <div class="col-md-4">
              <div class="imgReservedCar" *ngFor="let img of imagesCar; let i = index; let first = first ;">
                    <img class="img-scale" *ngIf="first" src="http://127.0.0.1:8000/uploads/{{ img.name }}" alt="foto" style="width: auto; display: inline-block;">
              </div>
            </div>
        </div> 
        
          <div class="row">
            <div class="col-lg-8">
             <!-- <div class="row">
                <div class="col-md-6"><a class="b-goods-f__link-2 w-100" href="#"><i class="fas fa-file-alt text-primary"></i> SPECIFICATIONS</a></div>
                <div class="col-md-6"><a class="b-goods-f__link-2 w-100" href="#"><i class="fas fa-car-side text-primary"></i> CHANGE vehicle</a></div>
              </div> -->
              <div class="b-goods-f-checks">
                <div class="b-goods-f-checks__section">
                  <div class="b-goods-f-checks__title text-primary">Add Rental Option</div>
                  <div class="row no-gutters justify-content-between">
                    <div class="col-sm-auto">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="customCheck1" type="checkbox">
                        <label class="custom-control-label" for="customCheck1">Car delivery to your house</label>
                      </div>
                    </div>
                    <div class="col-sm-auto b-goods-f-checks__price">$9.98</div>
                  </div>
                </div>
                <div class="b-goods-f-checks__section">
                  <div class="b-goods-f-checks__title text-primary">Add Damage Waivers</div>
                  <div class="row no-gutters justify-content-between">
                    <div class="col-sm-auto">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="customCheck2" type="checkbox">
                        <label class="custom-control-label" for="customCheck2">VIP Plus Theft &amp; Damage Waiver</label>
                      </div>
                    </div>
                    <div class="col-sm-auto b-goods-f-checks__price">$25</div>
                  </div>
                  <div class="row no-gutters justify-content-between">
                    <div class="col-sm-auto">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="customCheck3" type="checkbox">
                        <label class="custom-control-label" for="customCheck3">VIP-ZERO Theft &amp; Damage Waiver</label>
                      </div>
                    </div>
                    <div class="col-sm-auto b-goods-f-checks__price">$35</div>
                  </div>
                </div>
              </div>
              <section class="b-goods-f__section">
                <h2 class="b-goods-f__title2">Pricing Details</h2>
                <div class="table-responsive">
                  <table class="b-goods-f__table table table-bordered">
                    <thead>
                      <tr>
                        <th>ITEM</th>
                        <th>price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1 Day @ $145 / Day $145</td>
                        <td>$145</td>
                      </tr>
                      <tr>
                        <td>Special Rate Discount  -$5</td>
                        <td>-$5</td>
                      </tr>
                      <tr>
                        <td>Unlimited Miles  Free</td>
                        <td>Free</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td>total (USD)</td>
                        <td>$402</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </section>
            </div>
            <div class="col-lg-4">
              <aside class="l-sidebar mt-4 mt-lg-0">
                <div class="widget section-sidebar bg-gray">
                  <h3 class="widget-title bg-dark row justify-content-between align-items-center no-gutters"><i class="ic flaticon-car-2 bg-primary col-auto"></i><span class="widget-title__inner col">Ride More, Save More</span></h3>
                  <div class="widget-content">
                    <div class="widget-rates">
                      <div class="widget-rates__title">Average Discount Rates</div>
                      <table class="widget-rates__table">
                        <tbody>
                          <tr>
                            <td>1 - 3 days</td>
                            <td>Standard Rate</td>
                          </tr>
                          <tr>
                            <td>4 - 6 days</td>
                            <td>12% Off</td>
                          </tr>
                          <tr>
                            <td>7 - 13 days</td>
                            <td>18% Off</td>
                          </tr>
                          <tr>
                            <td>14 - 20 days</td>
                            <td>24% Off</td>
                          </tr>
                          <tr>
                            <td>21+ days</td>
                            <td>30% Off</td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="widget-rates__note"><strong>Add more days to receive your discounted rate!</strong>
                         *Discount is automatically applied when applicable.
                      </div>
                      <div class="widget-rates-info row no-gutters align-items-center">
                        <div class="col-auto"><i class="ic fas fa-bullhorn"></i></div>
                        <div class="col">
                          <div class="widget-rates-info__text">Seasonal And Multi-Day Discounts Are Applied Automatically When Applicable to Booking.</div>
                        </div>
                      </div><a class="btn btn-primary btn-lg" href="#">add days to booking</a>
                    </div>
                  </div>
                  <!-- end .widget-->
                  
                </div>
                <div class="widget section-sidebar bg-gray">
                  <h3 class="widget-title bg-dark row justify-content-between align-items-center no-gutters"><i class="ic flaticon-car-2 bg-primary col-auto"></i><span class="widget-title__inner col">Remplir vos informations</span></h3>
                  <div class="widget-content">
                    <div class="widget-inner">
                      <form [formGroup]="formAddClient">
                        <div class="form-group">
                          <input class="form-control" type="text" formControlName="firstName" placeholder="first name*"/>
                          <p style="color: red;" *ngIf="firstName && firstName.invalid && firstName.touched">this input is invalid</p>
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="text" formControlName="lastName" placeholder="last name*"/>
                          <p style="color: red;" *ngIf="lastName && lastName.invalid && lastName.touched">this input is invalid</p>
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="text" formControlName="phone" placeholder="Phone*"/>
                          <p style="color: red;" *ngIf="phone && phone.invalid && phone.touched">this input is invalid</p>
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="text" formControlName="email" placeholder="Email*"/>
                          <p style="color: red;" *ngIf="email && email.invalid && email.touched">this input is invalid</p>
                        </div>
                        <button class="btn btn-default btn-lg w-100" [disabled]="formAddClient.invalid" (click)="addClient(); addReservation();">Reserver</button>
                      </form>
                    </div>
                  </div>
                  <!-- end .widget-->
                  
                </div>
              </aside>
            </div>
          </div>
        </section>
        <!-- end .b-goods-f-->
        
      </main>
    </div>
</div>

<app-footer></app-footer>
