<div class="group-sections">
   <div class="container">
      <form class="b-main-filter bg-primary">
         <div class="row align-items-center">
            <div class="col-lg">
               <div class="form-row">
                  <div class="col-md-4">
                     <div class="form-group">
                        <mat-form-field appearance="fill">
                           <mat-label>Date Départ</mat-label>
                           <input matInput [matDatepicker]="dateDepart">
                           <mat-hint>MM/DD/YYYY</mat-hint>
                           <mat-datepicker-toggle matIconSuffix [for]="dateDepart"></mat-datepicker-toggle>
                           <mat-datepicker #dateDepart></mat-datepicker>
                         </mat-form-field>
                      </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <mat-form-field appearance="fill">
                           <mat-label>Date Retour</mat-label>
                           <input matInput [matDatepicker]="dateRetour">
                           <mat-hint>MM/DD/YYYY</mat-hint>
                           <mat-datepicker-toggle matIconSuffix [for]="dateRetour"></mat-datepicker-toggle>
                           <mat-datepicker #dateRetour></mat-datepicker>
                         </mat-form-field>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label for="cityForCar">choose the city</label>
                        <select class="form-control" id="cityForCar">
                          <option *ngFor="let city of citys">{{city.value}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <select class="selectpicker" data-width="100%" title="Body Type" multiple="multiple" data-max-options="1" data-style="ui-select">
                           <option>Select 1</option>
                           <option>Select 2</option>
                           <option>Select 3</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-4 align-self-end">
                     <div class="form-group">
                        <div class="b-main-filter-slider ui-filter-slider pb-3">
                           <div id="filterPrice"></div>
                           <div class="b-main-filter__row">
                              <input class="b-main-filter__item" id="input-with-keypress-0"/>
                              <input class="b-main-filter__item" id="input-with-keypress-1"/>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-auto">
               <button class="btn btn-secondary btn-lg ml-lg-3"><i class="ic icon-magnifier"></i> search</button>
            </div>
         </div>
      </form>
   </div>
   <!-- end .b-main-filter-->
   <section class="section-default">
      <div class="container">
         <div class="row">
            <div class="col-md-10 offset-md-1 text-center">
               <div class="ui-subtitle">welcome to isnaider auto dealers</div>
               <h2 class="ui-title text-uppercase">premium car dealer</h2>
               <div class="ui-decor bg-primary"></div>
               <p>Et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ull laboris aliquip ex ea commodo consequat. Duis yirure dolorin reprehenderits volupta velit dolore fugiat nulla pariatur excepteur sint occaecat cupidatat. Non proident sunt ind culpa qudesa officia deserunt mollit anim est laborum sed per unde omnis iste natus error sit voluptatem accusantium dolore mque.</p>
            </div>
         </div>
         <div class="b-advantages-group row">
            <div class="col-lg-4">
               <div class="b-advantages row no-gutters">
                  <div class="col-auto"><i class="ic flaticon-lock"></i></div>
                  <div class="b-advantages__title col">We have the largest cars dealership</div>
               </div>
               <!-- end .b-advantages-->
            </div>
            <div class="col-lg-4">
               <div class="b-advantages row no-gutters active">
                  <div class="col-auto"><i class="ic flaticon-vehicle-3"></i></div>
                  <div class="b-advantages__title col">We offers the best cars prices for all</div>
               </div>
               <!-- end .b-advantages-->
            </div>
            <div class="col-lg-4">
               <div class="b-advantages row no-gutters">
                  <div class="col-auto"><i class="ic flaticon-toolbox-1"></i></div>
                  <div class="b-advantages__title col">We have modern workshop checkups</div>
               </div>
               <!-- end .b-advantages-->
            </div>
         </div>
      </div>
   </section>
</div>