<div class="group-sections" id="searshCarBlock">
   <div class="container">
      <form [formGroup]="searchCarForm" class="b-main-filter bg-primary">
         <div class="row align-items-center">
            <div class="col-lg">
               <div class="form-row">
                  <div class="col-md-3">
                     <div class="form-group">
                        <mat-form-field appearance="fill" id="dateDepart">
                           <mat-label class="labelDateDepart">Date Départ :</mat-label>
                           <input matInput [matDatepicker]="dateDepart" formControlName="dateDepart" [(ngModel)]="dateDebut" [min]="minDate">
                           <mat-datepicker-toggle matIconSuffix [for]="dateDepart"></mat-datepicker-toggle>
                           <mat-datepicker #dateDepart></mat-datepicker>
                         </mat-form-field>
                      </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group">
                        <mat-form-field appearance="fill" id="dateRetour">
                           <mat-label class="labelDateRetour">Date Retour :</mat-label>
                           <input matInput [matDatepicker]="dateRetour" formControlName="dateRetour" [(ngModel)]="dateFin" [min]="dateDebut">
                           <mat-datepicker-toggle matIconSuffix [for]="dateRetour"></mat-datepicker-toggle>
                           <mat-datepicker #dateRetour></mat-datepicker>
                         </mat-form-field>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="cityForCar" class="labelCity">Pick-up Location: </label>
                        <input type="text" class="form-control" formControlName="city" [(ngModel)]="citySelected" (input)="onInputChange()" />
                        <ul id="listCitySearched">
                           <li *ngFor="let city of filteredCities" (click)="getValueCity($event)">{{ city }}</li>
                         </ul>
                        <!-- <select class="form-control" id="cityForCar" formControlName="city" [(ngModel)]="citySelected">
                          <option value="" disabled selected>Select</option>
                          <option *ngFor="let city of citys" [value]="city.value">city.value</option>
                        </select> -->
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-auto">
               <button class="btn btn-secondary btn-lg ml-lg-3" (click)="getDispoCar()" routerLink="cars"><i class="ic icon-magnifier"></i> search</button>
            </div>
         </div>
      </form>
   </div>
   <!-- end .b-main-filter-->
   <section class="section-default">
      <div class="container">
         <div class="row">
            <div class="col-md-10 offset-md-1 text-center">
               <div class="ui-subtitle">welcome to isnaider auto dealers</div>
               <h2 class="ui-title text-uppercase">premium car dealer</h2>
               <div class="ui-decor bg-primary"></div>
               <p>Et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ull laboris aliquip ex ea commodo consequat. Duis yirure dolorin reprehenderits volupta velit dolore fugiat nulla pariatur excepteur sint occaecat cupidatat. Non proident sunt ind culpa qudesa officia deserunt mollit anim est laborum sed per unde omnis iste natus error sit voluptatem accusantium dolore mque.</p>
            </div>
         </div>
         <div class="b-advantages-group row">
            <div class="col-lg-4">
               <div class="b-advantages row no-gutters">
                  <div class="col-auto"><i class="ic flaticon-lock"></i></div>
                  <div class="b-advantages__title col">We have the largest cars dealership</div>
               </div>
               <!-- end .b-advantages-->
            </div>
            <div class="col-lg-4">
               <div class="b-advantages row no-gutters active">
                  <div class="col-auto"><i class="ic flaticon-vehicle-3"></i></div>
                  <div class="b-advantages__title col">We offers the best cars prices for all</div>
               </div>
               <!-- end .b-advantages-->
            </div>
            <div class="col-lg-4">
               <div class="b-advantages row no-gutters">
                  <div class="col-auto"><i class="ic flaticon-toolbox-1"></i></div>
                  <div class="b-advantages__title col">We have modern workshop checkups</div>
               </div>
               <!-- end .b-advantages-->
            </div>
         </div>
      </div>
   </section>
</div>