<section class="section-default bg-light">
    <div class="container">
       <div class="text-center">
          <div class="ui-subtitle">welcome to isnaider auto dealers</div>
          <h2 class="ui-title text-uppercase">Inventory listings</h2>
          <div class="ui-decor bg-primary"></div>
          <p>Prehenderits volupta velit dolore fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt culpa qudesa officia deserunt mollit anim est laborum sed per unde omnis iste natus error sit voluptatem accusantium dolore</p>
       </div>
       <div class="b-isotope">
          <ul class="b-isotope-filter list-unstyled">
             <li class="current"><a href="" data-filter=".all">Show All</a></li>
             <li><a href="." data-filter=".bmw">BMW</a></li>
             <li><a href="." data-filter=".honda">Honda</a></li>
             <li><a href="." data-filter=".mercedes">Mercedes</a></li>
             <li><a href="." data-filter=".allCars">All Used Cars</a></li>
             <li><a href="." data-filter=".allBikes">All Bikes</a></li>
          </ul>
          <ul class="b-isotope-grid grid list-unstyled row no-gutters">
             <li class="b-isotope-grid__item grid-item all mercedes honda col-lg-4 col-md-6">
                <div class="b-goods">
                   <div class="flip-container">
                      <div class="flipper">
                         <div class="flip__front">
                            <div class="b-goods__img"><a href="#"><img class="img-scale" src="assets/media/content/b-goods/360x260/10.jpg" alt="foto"/></a></div>
                            <div class="b-goods__inner">
                               <div class="b-goods__header">
                                  <div class="b-goods__name">Nissan GT-R</div>
                                  <ul class="ui-rating list-unstyled">
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <div class="b-goods__check"><img class="img-fluid" src="assets/media/content/b-goods/check.jpg" alt="AutoCheck"/></div>
                               </div>
                               <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>
                               <div class="b-goods__footer">
                                  <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>
                                  <div class="b-goods__price">
                                     <div class="b-goods__price-main bg-primary">$45,000</div>
                                     <div class="b-goods__price-msrp">MSRP: $35,480</div>
                                  </div>
                                  <ul class="b-goods-descr list-unstyled">
                                     <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>
                                     <li class="b-goods-descr__item">2019</li>
                                     <li class="b-goods-descr__item">Manual</li>
                                     <li class="b-goods-descr__item">Petrol</li>
                                     <li class="b-goods-descr__item">661 hp</li>
                                  </ul>
                                  <button class="b-goods__link text-primary" type="button">Compare</button>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- end .b-goods-->
             </li>
             <li class="b-isotope-grid__item grid-item all bmw allCars col-lg-4 col-md-6">
                <div class="b-goods">
                   <div class="flip-container">
                      <div class="flipper">
                         <div class="flip__front">
                            <div class="b-goods__img"><a href="#"><img class="img-scale" src="assets/media/content/b-goods/360x260/3.jpg" alt="foto"/></a></div>
                            <div class="b-goods__inner">
                               <div class="b-goods__header">
                                  <div class="b-goods__name">Wolkswagan R6</div>
                                  <ul class="ui-rating list-unstyled">
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <div class="b-goods__check"><img class="img-fluid" src="assets/media/content/b-goods/check.jpg" alt="AutoCheck"/></div>
                               </div>
                               <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>
                               <div class="b-goods__footer">
                                  <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>
                                  <div class="b-goods__price">
                                     <div class="b-goods__price-main bg-primary">$25,000</div>
                                     <div class="b-goods__price-msrp">MSRP: $35,480</div>
                                  </div>
                                  <ul class="b-goods-descr list-unstyled">
                                     <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>
                                     <li class="b-goods-descr__item">2019</li>
                                     <li class="b-goods-descr__item">Manual</li>
                                     <li class="b-goods-descr__item">Petrol</li>
                                     <li class="b-goods-descr__item">661 hp</li>
                                  </ul>
                                  <button class="b-goods__link text-primary" type="button">Compare</button>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- end .b-goods-->
             </li>
             <li class="b-isotope-grid__item grid-item all allCars col-lg-4 col-md-6">
                <div class="b-goods">
                   <div class="flip-container">
                      <div class="flipper">
                         <div class="flip__front">
                            <div class="b-goods__img"><a href="#"><img class="img-scale" src="assets/media/content/b-goods/360x260/2.jpg" alt="foto"/></a></div>
                            <div class="b-goods__inner">
                               <div class="b-goods__header">
                                  <div class="b-goods__name">Jaguar F-Pace</div>
                                  <ul class="ui-rating list-unstyled">
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <div class="b-goods__check"><img class="img-fluid" src="assets/media/content/b-goods/check.jpg" alt="AutoCheck"/></div>
                               </div>
                               <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>
                               <div class="b-goods__footer">
                                  <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>
                                  <div class="b-goods__price">
                                     <div class="b-goods__price-main bg-primary">52,000</div>
                                     <div class="b-goods__price-msrp">MSRP: $15,480</div>
                                  </div>
                                  <ul class="b-goods-descr list-unstyled">
                                     <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>
                                     <li class="b-goods-descr__item">2019</li>
                                     <li class="b-goods-descr__item">Manual</li>
                                     <li class="b-goods-descr__item">Petrol</li>
                                     <li class="b-goods-descr__item">661 hp</li>
                                  </ul>
                                  <button class="b-goods__link text-primary" type="button">Compare</button>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- end .b-goods-->
             </li>
             <li class="b-isotope-grid__item grid-item all bmw allBikes col-lg-4 col-md-6">
                <div class="b-goods">
                   <div class="flip-container">
                      <div class="flipper">
                         <div class="flip__front">
                            <div class="b-goods__img"><a href="#"><img class="img-scale" src="assets/media/content/b-goods/360x260/11.jpg" alt="foto"/></a></div>
                            <div class="b-goods__inner">
                               <div class="b-goods__header">
                                  <div class="b-goods__name">Ford Mustang</div>
                                  <ul class="ui-rating list-unstyled">
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <div class="b-goods__check"><img class="img-fluid" src="assets/media/content/b-goods/check.jpg" alt="AutoCheck"/></div>
                               </div>
                               <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>
                               <div class="b-goods__footer">
                                  <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>
                                  <div class="b-goods__price">
                                     <div class="b-goods__price-main bg-primary">22,000</div>
                                     <div class="b-goods__price-msrp">MSRP: $15,480</div>
                                  </div>
                                  <ul class="b-goods-descr list-unstyled">
                                     <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>
                                     <li class="b-goods-descr__item">2014</li>
                                     <li class="b-goods-descr__item">Manual</li>
                                     <li class="b-goods-descr__item">Petrol</li>
                                     <li class="b-goods-descr__item">661 hp</li>
                                  </ul>
                                  <button class="b-goods__link text-primary" type="button">Compare</button>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- end .b-goods-->
             </li>
             <li class="b-isotope-grid__item grid-item all mercedes honda col-lg-4 col-md-6">
                <div class="b-goods">
                   <div class="flip-container">
                      <div class="flipper">
                         <div class="flip__front">
                            <div class="b-goods__img"><a href="#"><img class="img-scale" src="assets/media/content/b-goods/360x260/12.jpg" alt="foto"/></a></div>
                            <div class="b-goods__inner">
                               <div class="b-goods__header">
                                  <div class="b-goods__name">Tesla Model-3</div>
                                  <ul class="ui-rating list-unstyled">
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <div class="b-goods__check"><img class="img-fluid" src="assets/media/content/b-goods/check.jpg" alt="AutoCheck"/></div>
                               </div>
                               <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>
                               <div class="b-goods__footer">
                                  <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>
                                  <div class="b-goods__price">
                                     <div class="b-goods__price-main bg-primary">22,000</div>
                                     <div class="b-goods__price-msrp">MSRP: $15,480</div>
                                  </div>
                                  <ul class="b-goods-descr list-unstyled">
                                     <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>
                                     <li class="b-goods-descr__item">2014</li>
                                     <li class="b-goods-descr__item">Manual</li>
                                     <li class="b-goods-descr__item">Petrol</li>
                                     <li class="b-goods-descr__item">661 hp</li>
                                  </ul>
                                  <button class="b-goods__link text-primary" type="button">Compare</button>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- end .b-goods-->
             </li>
             <li class="b-isotope-grid__item grid-item all bmw allCars col-lg-4 col-md-6">
                <div class="b-goods">
                   <div class="flip-container">
                      <div class="flipper">
                         <div class="flip__front">
                            <div class="b-goods__img"><a href="#"><img class="img-scale" src="assets/media/content/b-goods/360x260/13.jpg" alt="foto"/></a></div>
                            <div class="b-goods__inner">
                               <div class="b-goods__header">
                                  <div class="b-goods__name">Lexus LS 500</div>
                                  <ul class="ui-rating list-unstyled">
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li class="active"><i class="fas fa-star"></i></li>
                                     <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <div class="b-goods__check"><img class="img-fluid" src="assets/media/content/b-goods/check.jpg" alt="AutoCheck"/></div>
                               </div>
                               <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>
                               <div class="b-goods__footer">
                                  <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>
                                  <div class="b-goods__price">
                                     <div class="b-goods__price-main bg-primary">27,000</div>
                                     <div class="b-goods__price-msrp">MSRP: $12,480</div>
                                  </div>
                                  <ul class="b-goods-descr list-unstyled">
                                     <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>
                                     <li class="b-goods-descr__item">2011</li>
                                     <li class="b-goods-descr__item">Manual</li>
                                     <li class="b-goods-descr__item">Petrol</li>
                                     <li class="b-goods-descr__item">661 hp</li>
                                  </ul>
                                  <button class="b-goods__link text-primary" type="button">Compare</button>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- end .b-goods-->
             </li>
          </ul>
       </div>
       <!-- end .b-isotope-->
    </div>
 </section>