/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: 'elegant';
    src: url('assets/fonts/elegant/fonts/ElegantIcons.ttf');
}

@font-face{
    font-family: 'flaticon';
    src: url('assets/fonts/flaticon/font/Flaticon.ttf');
}

@font-face{
    font-family: 'stroke-icon';
    src: url('assets/fonts/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.ttf');
}

@font-face{
    font-family: 'simple-line-icon';
    src: url('assets/fonts/simple-line-icons/fonts/Simple-Line-Icons.ttf');
}

@font-face{
    font-family: 'stroke';
    src: url('assets/fonts/stroke/fonts/Stroke-Gap-Icons.ttf');
}
html, body { height: 100%; }
body { 
    margin: 0;
    font-family: 15px/1.7334 'Arimo';
    color: #555555; 
}
.ngx-pagination .current {
    position: relative;
    width: 45px;
    height: 45px;
    line-height: 43px;
    padding: 0 5px !important;
    margin-left: 2px;
    margin-right: 3px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    transition: all .3s;
    z-index: 1;
    color: #FFF;
    background-color: #222222 !important;
}
