<div class="section-title-page area-bg area-bg_dark area-bg_op_60">
    <div class="area-bg__inner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md">
            <h1 class="b-title-page">Contact us</h1>
            <div class="ui-decor bg-primary"></div>
          </div>
          <div class="col-md-auto"><a class="b-title-page__btn bg-primary" href="#">Smarter Way to Buy or Sell Cars</a></div>
        </div>
      </div>
    </div>
</div>
